body {
  text-align: center;
  margin: 20px 10%;
}
.characters {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.characters__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}