.character {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    padding: 10px 20px;
    text-align: center;
    flex: 1;
}
.character:hover {
    background-color: #700;
    color: white;
}
.character__kana {
    font-size: 2rem;
}
.character__sound {
    color: #999;
}
.character__null {
    color: #999;
    font-size: 2rem;
}
