.character {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
.character__kana {
    font-size: 2rem;
}
.character__sound {
    color: #999;
}
.character__null {
    color: #999;
    font-size: 2rem;
}
